:root {
    --primary-color: #1D52AD;
    --second-color: #176BC6;
    --background-primary-color: #F7F7F7;
    --focus-and-hover-color: #85E0FF;
    --notification-success-color: #1DAD6E;
    --notification-failure: #AD301D;
    --background-form-color: #176BC6B3;
    --placeholder-color-input: #98A2B3;
}

body {
    color: var(--primary-color);
    background-color: var(--background-primary-color);
    font-family: "Podkova", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.125;
    letter-spacing: 0.04em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:focus, button:hover {
    cursor: pointer;
}

.header {
    width: 100%;
    height: 70px;
    color: var(--background-primary-color);
    background-color: var(--second-color);
    /* border: 1px solid var(--primary-color); */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}
.nav {
    padding-top: 8px;
    margin-left: 40px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

/* .logo-link {
    text-decoration: none;   
} */

.nav-list-admin {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 26px;
    margin-left: 66px;
    padding-top: 6px;
}

.active {
    font-weight: bold;
    font-size: 25px;
}

.nav-list-admin-link {
    text-decoration: none;
    color: var(--background-primary-color);
    position: relative;
    transition: color 0.3s ease;
}

.nav-list-admin-link:focus, .nav-list-admin-link:hover {
    color: var(--focus-and-hover-color);
}

.nav-list-admin-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    /* vzdálenost čáry od textu */
    width: 100%;
    height: 2px;
    /* tloušťka čáry */
    background-color: var(--focus-and-hover-color);
    /* barva čáry */
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: left;
}

.nav-list-admin-link:hover::after,
.nav-list-admin-link:focus::after {
    transform: scaleX(1);
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #176BC6;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-item {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
    background-color: var(--focus-and-hover-color);
    transition: background-color 0.3s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.nav-item:hover .dropdown-menu {
    display: block;
}

.header-admin {
    margin-left: 40px;
}

.menu-admin-databaze-link:focus, .menu-admin-databaze-link:hover {
    color: var(--focus-and-hover-color);
    transition: color 0.3s ease;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    padding: 8px 12px;
    gap: 24px;
}

/* .filter-item {
    display: flex;
    flex-direction: column;
} */

.filter-input {
    height: 30px;
    border: 2px solid #1D52AD;
    border-radius: 8px;
    /* color: #98A2B3; */
    font-style: normal;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    align-items: center;
    padding: 4px 12px;
}

.filter-input-address {
    width: 400px;
}

.filter-input-number {
    width: 140px;
}

.filter-buttons {
    margin-right: 20px;
}

.btn-filter {
    border: none;
    background: none;
    padding: 0;
    outline: none;
}

.btn-filter:focus, .btn-filter:hover {
    cursor: pointer;
}

/* Levý panel výpisu dat */
.data-section {
    display: flex;
}

.left-panel {
    width: 900px;
    /* padding-left: 10px;   */
}

.table-list {
    width: 100%;
}

.table-list-header {
    height: 40px;
    text-align: center;
    color: var(--background-primary-color);
    background: var(--second-color);
}

.table-list-header th:not(:last-child) {
    border-right: 1px solid var(--background-primary-color);
}

.table-list-body {
    font-size: 22px;
}

.table-list-body-column {
    height: 34px;
    padding-left: 6px;
}

/* .table-list-body td:not(:last-child) {
    border-right: 1px solid var(--primary-color);
    
} */

.table-list-body td {
    border-right: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

/* Pravý panel výpisu dat */
.right-panel {
    margin-left: 10px;
}

.right-panel-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.right-panel-form-item {
    display: flex;
    flex-direction: column;
}

.right-panel-form-item > .filter-input {
    margin-top: 5px;
}

.right-panel-form-input-id {
    width: 124px;
}

.right-panel-form-input {
    width: 300px;
}

/* Footer klinika crud tlačitka */
.footer-klinika {
    width: 100%;
    height: 80px;
    background-color: var(--second-color);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.crud-list {
    margin-left: 50px;
    padding: 0;
    padding-top: 16px;
    /* margin-top: 50%; */
    display: flex;
    flex-direction: row;
    gap: 34px;
}

.crud-list-btn {
    text-align: center;
    align-items: center;
    width: 124px;
    height: 48px;
    color: var(--primary-color);
    background-color: var(--background-primary-color);
    border-radius: 8px;
}

.crud-list-btn:focus, .crud-list-btn:hover {
    background-color: var(--focus-and-hover-color);
}
