:root {
    --primary-color: #1D52AD;
    --second-color: #176BC6;
    --background-primary-color: #F7F7F7;
    --focus-and-hover-color: #85E0FF;
    --notification-success-color: #1DAD6E;
    --notification-failure: #AD301D;
    --background-form-color: #176BC6B3;
    --placeholder-color-input: #98A2B3;
}

body {
    color: var(--primary-color);
    background-color: var(--background-primary-color);
    font-family: "Podkova", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.125;
    letter-spacing: 0.04em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button:focus,
button:hover {
    cursor: pointer;
    border: none;
}

.header {
    width: 100%;
    height: 70px;
    color: var(--background-primary-color);
    background-color: var(--second-color);
    /* border: 1px solid var(--primary-color); */
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.nav {
    padding-top: 8px;
    margin-left: 40px;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.main-titul {
    margin-left: 70px;
    margin-top: 60px;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.12;
}

.modal-titel {
    /* font-family: 'Poppins';
    font-style: normal; */
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.modal-dialog-custom {
    font-family: 'Poppins';
    font-style: normal;
    margin: auto;
    max-width: 500px;
    width: 100%;
    margin-top: 186px;
}

.modal-backdrop {
    background-color: var(--background-form-color);
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.btn-close {
    margin-left: 374px;
    margin-top: 6px;
    color: var(--primary-color);
}

.modal-content {
    width: 420px;
    height: 434px;
    border-radius: 24px;
    display: block;
}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-label {
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    display: flex;
    align-items: center;
}

.filter-input {
    height: 30px;
    border: 2px solid #1D52AD;
    border-radius: 8px;
    /* color: #98A2B3; */
    font-style: normal;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    align-items: center;
    padding: 4px 12px;
}

.main-logo {
    font-size: 56px;
}

.main-info {
    margin-left: 70px;
    margin-top: 30px;
    display: flex;
}

.main-description {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    column-gap: 24px;
    width: 577px;
    margin-left: 40px;
}

/* .description {
    width: 577px;
    margin-left: 40px;
} */

.buttons-form {
    margin-left: 584px;
    margin-top: -86px;
}

.button-form {
    margin-right: 100px;
    width: 209px;
    height: 61px;
    font-size: 28px;
    background-color: var(--second-color);
    color: var(--background-primary-color);
    border-radius: 18px;
}

.button-form:hover, .button-form:focus {
    color: var(--primary-color);
    background-color: var(--focus-and-hover-color);
}

.modal-body .button-form {
    width: 100%;
}

.footer-login {
    margin: 40px;
}

.text-danger {
    display: block;
    color: var(--notification-failure);
}