@using Sem_Veterina.Entity
@model KLINIKY

<div>
    <h5>Detaily kliniky: @Model.NÁZEV</h5>
    <form asp-action="UpravitKliniku" method="post">
        <input type="hidden" asp-for="ID_KLINIKA" />
        <div>
            <label>Název:</label>
            <input asp-for="NÁZEV" />
        </div>
        <div>
            <label>Adresa:</label>
            <input asp-for="ADRESA" />
        </div>
        <div>
            <label>Telefonní číslo:</label>
            <input asp-for="TELEFONNÍ_ČÍSLO" />
        </div>
        <div>
            <label>Email:</label>
            <input asp-for="EMAIL" />
        </div>
        <button type="submit">Uložit změny</button>
    </form>
</div>
