@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model Sem_Veterina.Entity.EntityViewModel
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "_AdminLayout";
}

<h2 class="header-admin">Režím admin</h2>
<p>Nastavení</p>
<p>Přejít do databáze</p>
<p>Vyberte databáze pro správu:</p>
<ul class="menu-admin-databaze">
    <li class="menu-admin-databaze-item">
        @* nav-link text-dark *@
        <a class="menu-admin-databaze-link" asp-area="" asp-controller="Admin" asp-action="Kliniky">Klinika</a>
    </li>
    <li class="menu-admin-databaze-item">
        @* nav-link text-dark *@
        <a class="menu-admin-databaze-link" asp-area="" asp-controller="Admin" asp-action="Majitele">Majitelé</a>
    </li>
    <li class="menu-admin-databaze-item"><a class="menu-admin-databaze-link" href="">Malí pacienty</a></li>
    <li class="menu-admin-databaze-item"><a class="menu-admin-databaze-link" href="">Personál</a></li>
    <li class="menu-admin-databaze-item"><a class="menu-admin-databaze-link" href="">Přístroje</a></li>
    <li class="menu-admin-databaze-item">Vyšetření</li>
    <li class="menu-admin-databaze-item">Lab. výsledky</li>
    <li class="menu-admin-databaze-item">Zákroky</li>
</ul>
