@using Sem_Veterina.Controllers
@using Sem_Veterina.Entity
@model Sem_Veterina.Entity.MajiteleViewModel
@{
    ViewData["Title"] = "Majitel Panel";
    Layout = "_MajitelLayout.cshtml";
}
<main>
    <div>

    </div>
</main>