@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Sem_Veterina.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="logo-link" asp-asp-controller="Home" asp-action="Index"><img class="logo-link-svg"
                    src="~/imgs/logo.svg" alt="Logo Veterinarni Kliniky"></a>
            <ul class="nav-list-admin">
                <li class="nav-list-admin-item"><a class="nav-list-admin-link" asp-area="" asp-controller="Admin"
                        asp-action="Kliniky">Kliniky</a></li>
                <li class="nav-list-admin-item"><a class="nav-list-admin-link" asp-area="" asp-controller="Admin"
                        asp-action="Majitele">Majitelé</a></li>
                <li class="nav-list-admin-item"><a class="nav-list-admin-link" href="/Zvirata">Malí pacienti</a></li>
                <li class="nav-list-admin-item"><a class="nav-list-admin-link" href="/Personal">Personál</a></li>
                <li class="nav-list-admin-item"><a class="nav-list-admin-link" href="/Pristroje">Přístroje</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-list-admin-link" href="#" id="navbarDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Ostatní
                    </a>
                    <ul class="nav-list dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item"
                                href="/Zdravotniakce">Vyšetření</a></li>
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item" href="/">Lab.výsledky</a></li>
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item" href="/">Zákroky</a></li>
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item" href="/Diagnozy">Diagnózy</a>
                        </li>
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item" href="/Lecby">Lečby</a></li>
                        <li class="nav-list-item"><a class="nav-list-link dropdown-item" href="/Leky">Léky</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody() <!-- Tady se zobrazí obsah jednotlivých stránek -->
    </main>
    <footer>
        <p>&copy; 2024 Sem Veterina - Admin Sekce</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
