<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Svět zvířat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="logo-link" asp-asp-controller="Login" asp-action="Index">
                <img class="logo-link-svg" src="~/imgs/logo.svg" alt="Logo Veterinarni Kliniky">
            </a>
        </nav>
    </header>
    @RenderBody()
    <footer>
        <p>&copy; 2024 Sem Veterina</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>