<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Svět zvířat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<body>
    <header class="header">
        <nav class="nav">
            <a class="logo-link" asp-asp-controller="Login" asp-action="Index">
                <img class="logo-link-svg" src="~/imgs/logo.svg" alt="Logo Veterinarni Kliniky">
            </a>
        </nav>
    </header>

    <main class="main">
        @RenderBody()
        <h1 class="main-titul">Vítejte v systému <span class="main-logo">Svět zvířat</span></h1>
        <img class="img-kliniky" src="~/imgs/vetCare.png" alt="Obrázek kliniky" width="426" height="400" />
        <p class="description">Tento systém vám umožňuje snadno sledovat zdravotní stav vašich mazlíčků.</p>
        <p class="description">Získejte přístup ke kompletním informacím o pacientech, včetně zákroků, diagnóz a
            laboratorních výsledků – vše na jednom místě, přehledně a jednoduše.
        </p>
        <div class="mt-4">
            <button class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#registerModal">Registrovat
                se</button>
            <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">Přihlásit se</button>
        </div>
    </main>
    <!-- Modal pro Registraci -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Registrace</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-titel">Vytvořte si účet pro přístup</p>
                    <form asp-action="Register" asp-controller="Login" method="post">
                        <div>
                            <label for="username" class="form-label">Uživatelské jméno</label>
                            <input type="text" class="form-control" name="USERNAME" id="username" required
                                placeholder="AnnaSvobodova">
                        </div>
                        <div>
                            <label for="password" class="form-label">Heslo</label>
                            <input type="password" class="form-control" name="HESLO" id="password" required
                                placeholder="Zadejte své heslo">
                        </div>
                        <button type="submit" class="btn btn-primary">Vytvořit účet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal pro Přihlášení -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">Přihlášení</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="modal-titel">Vítejte zpět! Přihlaste se</p>
                    <form asp-action="Login" asp-controller="Login" method="post">
                        <div>
                            <label for="username" class="form-label">Uživatelské jméno</label>
                            <input type="text" class="form-control" name="Username" id="username" required
                                placeholder="AnnaSvobodova">
                        </div>
                        <div>
                            <label for="password" class="form-label">Heslo</label>
                            <input type="password" class="form-control" name="Heslo" id="password" required
                                placeholder="Zadejte své heslo">
                        </div>
                        <button type="submit" class="btn btn-secondary">Přihlasit se</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>